/*General styles*/
:root{
    --bgColor: #F9FAFB;
    --shadowColor: #D1D5DB;
    --highlightColor: #3B82F6;
    --highlightGradient: #1E3A8A;
    --darkerColor: #1E293B;
}

.darkMode{
    --bgColor: #4a4e69;
    --shadowColor: #22223b;
    --highlightColor: #4ad66d;
    --highlightGradient: #2dc653;
    --darkerColor: #b7efc5; 
}

html{
    scroll-padding-top: 15vh;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.sectionTitle{
    font-size: 40px;
    font-weight: bold;
    color: var(--darkerColor);
    text-align: center;
    text-shadow: 5px 5px 5px var(--shadowColor);
}

.generalParagraph{
    width: 75%;
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
    justify-self: center;
    text-shadow: 2px 2px 2px var(--shadowColor);
    color: var(--darkerColor);
}

/*Barra de navegación*/

nav{
    background: radial-gradient(var(--highlightColor) 45%,var(--highlightGradient));
    height: 12vh;
    width: 100%;
    font-size: 30px;
    position: sticky;
    margin-top: -30px;
    top: 0;
    border-bottom: 2px solid var(--darkerColor);
    box-shadow: 0px 10px 10px rgb(0,0,0,0.25);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.switch{
    position: relative;
    justify-self: start;
    align-self: center;
    margin-left: 10px;
    background-color: var(--bgColor);
    height: 8vh;
    width: 24vh;
    border: 3px solid var(--darkerColor);
    border-radius: 500px;
    cursor: pointer;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider{
    content: '';
    position: absolute;
    height: 7vh;
    width: 7vh;
    background-color: var(--bgColor);
    border: 2px solid var(--shadowColor);
    border-radius: 50%;
    top: 1px;
    left: 1px;  
}

.modeImage{
    position: absolute;
    height: 6vh;
    top: 3px;
    left: 3px;
    opacity: 0.75;
}

input{
    opacity: 0;
    width: 0;
    height: 0;
}


ul{
    padding-top: 20px;
    justify-self: end;
    margin-top: 0px;
}

li{
    display: inline;
}

a:link, a:visited{
    text-decoration: none;
    padding-right: 35px;
    text-shadow: 1px 1px 1px #5e503f;
    color: var(--darkerColor);
}

a:hover{
    color: var(--bgColor);
}

/*Presentación*/

#presentation{
    margin-top: 100px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

#presentation h1{
    padding-top: 50px;
    font-size: 75px;
    font-weight: lighter;
    color: var(--highlightColor);
    text-shadow: 5px 5px 5px var(--shadowColor);
}

#presentation h2{
    margin-top: -60px;
    font-size: 40px;
    font-weight: lighter;
    color: var(--darkerColor);
    text-align: center;
    text-shadow: 5px 5px 5px var(--shadowColor);
}

#presentation img{
    height: 25vw;
    border-radius: 50%;
    box-shadow: 20px 15px 50px var(--shadowColor);
}

/*Sobre mi*/
#aboutMe{
    margin-top: 10%;
}

.highlight{
    color: var(--highlightColor);
    font-weight: bold;
}

/*Proyectos*/

#proyects{
    margin-top: 50px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.proyectCard{
    width: 75vw;
    height: 350px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    border-radius: 35px;
    border: 5px solid var(--highlightColor);
    box-shadow: 5px 5px 5px var(--shadowColor);
    margin-top: 20px;
    margin-bottom: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proyectCard:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 10px var(--shadowColor);
}

.infoProyect{
    margin-right: -40px;
    padding-left: 5px;
}

.proyectTitle{
    font-size: 35px;
    margin-top: 15px;
    color: var(--highlightColor);
    text-shadow: 3px 3px 3px var(--shadowColor);
}

.proyectImage{
    height:25vw;
    border-radius: 35px;
    margin-left: 75px;
    box-shadow: 5px 5px 5px var(--shadowColor);
}

.technologies{
    color: var(--darkerColor);
    width: 95;
    display: flex;
    flex-wrap: nowrap;
}

.technologies p{
    border: 2px solid var(--darkerColor);
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    background-color: rgb(59, 130, 246, 0.25);
    margin-top: auto;
    margin-right: 15px;
}

.technologies img{
    height: 35px;
    transition: height 0.3s ease, transform 0.3s ease;
}

.technologies img:hover{
    height: 40px;
    transform: translate(-2.5px,-2.5px);
}

/*Gestor de clientes*/

#managerExplanation{
    font-size: 23px;
    margin-top: -20px;
}

/*Propio lenguaje*/

#explanation2{
    font-size: 22px;
    margin-top: -15px;
}

#languageImage{
    width: 648px;
}

/*Contacto*/

#contactMe p{
    margin-top: -25px;
    margin-bottom: 45px;
}

#contactMe div{
    width:25%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}

#contactMe a{
    padding: 10px;
    border: 2px solid var(--darkerColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px var(--shadowColor);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

#contactMe a:hover{
    transform: translateY(-5px);
    box-shadow: 10px 10px 10px var(--shadowColor);
    background-color: var(--highlightColor);
}

#contactMe img{
    height:3vw;
}

/*Footer*/

footer{
    margin-top: 50px;
    width: 100%;
    background: linear-gradient(var(--highlightColor) 45%,var(--highlightGradient));
    height: 90px;
    color: var(--shadowColor);
    text-align: center;
    font-weight: lighter;
    border-top: 2px solid var(--darkerColor);
    padding-top: 0px;
    box-shadow: 0px -5px 5px var(--shadowColor);
}