/*General styles*/
:root{
    --bgColor: #F9FAFB;
    --shadowColor: #D1D5DB;
    --highlightColor: #3B82F6;
    --highlightGradient: #1E3A8A;
    --darkerColor: #1E293B;
}

html{
    scroll-padding-top: 15vh;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.sectionTitle{
    font-size: 40px;
    font-weight: bold;
    color: var(--darkerColor);
    text-align: center;
    text-shadow: 5px 5px 5px var(--shadowColor);
}

.generalParagraph{
    width: 75%;
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
    justify-self: center;
    text-shadow: 2px 2px 2px var(--shadowColor);
    color: var(--darkerColor);
}

/*Barra de navegación*/

nav{
    background: radial-gradient(var(--highlightColor) 45%,var(--highlightGradient));
    height: 12vh;
    width: 100%;
    font-size: 30px;
    position: sticky;
    margin-top: -30px;
    top: 0;
    border-bottom: 2px solid var(--darkerColor);
    box-shadow: 0px 10px 10px rgb(0,0,0,0.25);
    z-index: 1;
}

ul{
    text-align: end;
    padding-top: 20px;
}

li{
    display: inline;
}

a:link, a:visited{
    text-decoration: none;
    padding-right: 35px;
    text-shadow: 1px 1px 1px #5e503f;
    color: var(--darkerColor);
}

a:hover{
    color: var(--bgColor);
    cursor: pointer;
}

/*Presentación*/

#presentation{
    margin-top: 100px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

#presentation-info{
    padding-top: 50px;
}

#presentation-info h1{
    font-size: 75px;
    font-weight: lighter;
    color: var(--highlightColor);
    text-shadow: 5px 5px 5px var(--shadowColor);
}

#presentation-info h2{
    margin-top: -60px;
    font-size: 40px;
    font-weight: lighter;
    color: var(--darkerColor);
    text-align: center;
    text-shadow: 5px 5px 5px var(--shadowColor);
}

#meImage{
    height: 25vw;
    border-radius: 50%;
    box-shadow: 20px 15px 50px var(--shadowColor);
}

/*Sobre mi*/
#aboutMe{
    margin-top: 10%;
}

.highlight{
    color: var(--highlightColor);
    font-weight: bold;
}

/*Proyectos*/

#proyects{
    margin-top: 50px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.proyectCard{
    width: 75vw;
    height: 350px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    border-radius: 35px;
    border: 5px solid var(--highlightColor);
    box-shadow: 5px 5px 5px var(--shadowColor);
    margin-top: 20px;
    margin-bottom: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proyectCard:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 10px var(--shadowColor);
}

.infoProyect{
    margin-right: -40px;
    padding-left: 5px;
}

.proyectTitle{
    font-size: 35px;
    margin-top: 15px;
    color: var(--highlightColor);
    text-shadow: 3px 3px 3px var(--shadowColor);
}

.technologies{
    color: var(--darkerColor);
}

.technologies p{
    display: inline;
    border: 2px solid var(--darkerColor);
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    background-color: rgb(59, 130, 246, 0.25);
}

/*Gestor de clientes*/

#explanation{
    font-size: 23px;
    margin-top: -20px;
}

#managerJPG{
    height:25vw;
    border-radius: 35px;
    margin-left: 75px;
    box-shadow: 5px 5px 5px var(--shadowColor);
}

/*Propio lenguaje*/

#explanation2{
    font-size: 22px;
    margin-top: -15px;
}

#languageJPG{
    height:25vw;
    width: 648px;
    border-radius: 35px;
    margin-left: 75px;
    box-shadow: 5px 5px 5px var(--shadowColor);
}

/*Contacto*/

#contactMe p{
    margin-top: -25px;
    margin-bottom: 45px;
}

#contactMe div{
    width:25%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}

#contactMe a{
    padding: 10px;
    border: 2px solid var(--darkerColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px var(--shadowColor);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

#contactMe a:hover{
    transform: translateY(-5px);
    box-shadow: 10px 10px 10px var(--shadowColor);
    background-color: var(--highlightColor);
}

#contactMe img{
    height:3vw;
}

/*Footer*/

footer{
    margin-top: 50px;
    width: 100%;
    background: linear-gradient(var(--highlightColor) 45%,var(--highlightGradient));
    height: 150px;
}